---
import StyleguideSpecimen from "../styleguide/Styleguide-Specimen.astro";
import { useTranslations } from '@lib/i18n/utils';
import { SitecoreContextMap } from '@lib/context';
import Link from '@sdk/Link.astro';
import type { LinkFieldValue } from '@sdk/LinkField';
import Text from '@sdk/Text.astro';

const context = SitecoreContextMap.get("context");
const t = useTranslations();

const { fields } = Astro.props.route

const enStyleguide = { href: "/styleguide" } as LinkFieldValue;
const daDKStyleguide = { href: "/da-DK/styleguide" } as LinkFieldValue;
---

<StyleguideSpecimen route={Astro.props.route} e2eId="styleguide-multilingual">
  <Text field={fields.sample} encode={false} tag="p" />
  <p>
    This is a static dictionary entry from <code>/data/dictionary</code>
    :&nbsp;
    {t("styleguide-sample")}
  </p>

  <p>
    <Link field={enStyleguide}>Show in English</Link>
    <br />
    <Link field={daDKStyleguide}>Show in da-DK</Link>
  </p>

  <p>The current language is: {context.language}</p>
</StyleguideSpecimen>